.menu {
    background-color: dimgrey;
    padding: 10px 0;
    position: fixed;
    width: 100%;
}

.header-logo {
    width: 149px;
    height: 55px;
}

.header-logo a, .header-logo a img {
    width: 100%;
    height: 100%;
}

.header-menu {
    max-width: 525px;
    width: 100%;
}

.menu-btn {
    width: 34px;
    position: absolute;
    z-index: 999999999999;
    top: 25px;
    right: 15px;
    display: none;
}

.menu-btn span {
    width: 100%;
    height: 4px;
    background-color: rgba(252, 103, 68, 0.941);
    transition: 0.4s;
    display: block;
    position: absolute;
}

.menu-btn span:nth-child(2), .menu-btn span:nth-child(3) {
    top: 10px
}

.menu-btn span:nth-child(4) {
    top: 20px;
}

.close-menu {
    display: none;
    width: 35px;
    height: 35px;
    position: absolute;
    top: 25px;
    right: 15px;
}

.close-menu span {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.close-menu span:first-child, .close-menu span:last-child {
    display: none;
}

.close-menu span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg)
}

.close-menu span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.overlay-content ul {
    width: 100%;
}

.overlay-content ul li {
    position: relative;
}

.overlay-content ul li:before {
    content: '';
    position: absolute;
    bottom: -3px;
    width: 0;
    right: 0;
    transition: 0.3s;
    height: 2px;
    background-color: rgba(252, 103, 68, 0.941);
}

.overlay-content ul li:hover:before {
    width: 100%;
    right: 0;
}

.overlay-content ul li:after {
    content: '';
    position: absolute;
    top: -3px;
    width: 0;
    left: 0;
    transition: 0.3s;
    height: 2px;
    background-color: rgba(252, 103, 68, 0.941);
}

.overlay-content ul li:hover:after {
    width: 100%;
    left: 0;
}

.overlay-content ul li a {
    font-size: 16px;
    font-weight: 600;
    color: rgba(252, 103, 68, 0.941);
    text-transform: uppercase;
    transition: 0.3s;
}